---
import Layout from '../layouts/Layout.astro';
import CoverPage from '../components/CoverPage.astro';
import InvitationContent from '../components/InvitationContent.astro';
---

<Layout title="XV Años - Airam Kamila">
  <main>
    <CoverPage />
    <InvitationContent />
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
